# Ignore .env file
.env
__pycache__/
.venv/
*.pyc

# IDEs
.idea/
*.iml

# Android
.gradle/
build/
local.properties
*.hprof
captures/
.externalNativeBuild/
.cxx/
*.keystore
!debug.keystore

# Mac
.DS_Store
